body {
    background-image: url(/assets/img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    display: grid;
    grid-template-columns:auto auto auto;
    grid-gap: 2rem;
}

.card-img-top, .img-fluid{
    border: 2px solid black;
    border-radius: 50%;
    width: 150px;
}